.DrawerToggle {
    height: 23px;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 10;
    width: 45px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    /* box-sizing: border-box; */
    cursor: pointer;
    margin-top: 0.3em;
}

.DrawerToggle div {
    width: 20px;
    height: 3px;
    border-radius: 20px;
    background-color: #ffffff;

    &:nth-of-type(2) {
        width: 15px;
        margin-right: -3.2px;
    }
}



@media (min-width: 951px) {
    .DrawerToggle {
        display: none;
    }
}