@mixin button {
  outline: none;
  border: transparent;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  background: #36B4FF;
  color: #ffffff;
  padding: 10px 30px;
}

@mixin button2 {
  outline: none;
  cursor: pointer;
  border-color: transparent;
  border-radius: 6px;
}

@mixin title {
  color: #2E37A4;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}


@mixin title-small {
  font-size: 12px;
  padding-bottom: 10px;
}

.top-container {
  overflow: hidden;
  display: flex;
  color: #ffffff;


  .button {
    @include button;

  }

  .get {
    padding: 13px 28px;
    font-size: 12px;
  }

  &__left {
    background: #2E37A4;
    width: 92%;
    border-bottom-right-radius: 330px;
    position: relative;

    .mother {
      width: 520px;
      height: 480px;
      z-index: 10;
      background: url("./assets/images/mother-child.jpg") center;
      background-size: cover;
      border-radius: 50% 0 50% 50%;
      top: 100px;
      right: -100px;
      position: absolute;
    }

    .fill-circle {
      background: #303BB7;
      position: absolute;
      bottom: -350px;
      left: -160px;
      border-radius: 50%;
      width: 500px;
      height: 500px;
      border: solid 1px #3844c0;
      box-shadow: 0 0 0 15px #2E37A4 inset;
    }

    .border-circle {
      border: solid 1px #3844c0;
      position: absolute;
      top: -200px;
      right: 20px;
      width: 500px;
      height: 500px;
      // background: #000000;
      border-radius: 50%;
    }

    .nav {
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;

      .logo {
        color: #36B4FF;
        font-family: "Freight", sans-serif;
        font-size: 25px;
      }

      .nav-items {
        color: #ffffff;
        display: flex;
        font-weight: normal;
        font-size: 13px;
        align-items: center;
      }
    }

    .nav-item {
      margin-left: 25px;
      cursor: pointer;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &__right {
    background: #ffffff;
    width: 13%;
    text-align: center;
    padding: 16px 10px;
  }

  .content {
    padding: 95px 0;
    padding-bottom: 160px;
    padding-left: 80px;

    .update {
      background: #242C90;
      display: flex;
      padding: 5px 0;
      padding-left: 5px;
      align-items: center;
      border-radius: 30px;
      width: 420px;
      font-size: 12.5px;

      .new {
        text-transform: uppercase;
        background: #36B4FF;
        padding: 7px 27px;
        margin-right: 20px;
        border-radius: 30px;
      }
    }

    .title {
      font-weight: bold;
      width: 540px;
      font-size: 55px;
    }

    .sub {
      width: 380px;
      margin-top: -10px;
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 20px;
    }
  }
}

.about-container {
  display: flex;
  padding: 120px 100px;
  justify-content: space-around;

  &__images {
    display: flex;
    // align-items: center;
    margin-top: 32px;

    .img {
      height: 270px;
      width: 250px;
      box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, .2);
    }

    .img-1 {
      background: url("./assets/images/about-1.jpg") center;
      margin-right: 40px;
      background-size: cover;

    }

    .img-2 {
      background: url("./assets/images/about-2.jpg") 50% 0;
      background-size: cover;
    }
  }

  &__content {
    padding: 0 82px;

    .title-small {
      font-size: 12px;
      padding-bottom: 10px;
    }

    .title {
      color: #2E37A4;
      font-size: 36px;
      // width: 300px;
      line-height: 1.3;
      // padding-bottom: 20px;
    }

    .sub {
      // width: 380px;
      color: #262626;
      line-height: 2.0;
      font-size: 15px;
      padding: 20px 0;
      ;
    }

    .button {
      @include button;
      padding: 15px 35px;
      font-size: 12px;
    }
  }
}

.services-container {
  padding: 100px 5%;
  padding-top: 40px;

  .texts {
    text-align: center;

    .title-small {
      font-size: 12px;
    }

    .sub {
      color: #262626;
      padding: 0 24%;
      line-height: 1.4;
    }

    .title {
      color: #2E37A4;
      font-size: 32px;
      font-weight: bold;
      padding: 10px 0;
    }

    margin-bottom: 50px;
  }

  .boxes {
    display: flex;


    .box {
      background: #242C90;
      box-shadow: 0 7px 23px 7px #C6CAFB;
      margin-right: 30px;
      border-radius: 5px;

      &:last-of-type {
        margin-right: 0;
      }

      .content {
        padding: 80px 45px;
        padding-bottom: 30px;
        color: #ffffff;

        .icon {
          width: 60px;
          padding: 30px 0;
          padding-top: 10px;
        }

        .syr {
          width: 50px;
        }

        .title-small {
          color: #D6D6D6;
          font-size: 12px;
        }

        .title {
          font-weight: bold;
          font-size: 32px;
          padding: 20px 0;
        }

        .doc {
          padding: 39px 0;
        }

        .sub {
          font-size: 14.5px;
          line-height: 1.7;
          padding-right: 5px;
        }

        .more {
          text-align: right;
          color: #00DCFF;
          padding: 10px 0;
          padding-top: 40px;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: .5px;

          img {
            width: 13px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.location {
  background: url("./assets/images/map.jpg") rgba(0, 0, 0, .2);
  background-blend-mode: multiply;
  background-size: contain;
  padding: 80px 10%;
  padding-left: 47%;
  color: #ffffff;

  .find-box {
    background: #242C90;

    .title {
      font-size: 36px;
    }

    .sub {
      padding-right: 60px;
      font-size: 15px;
      line-height: 2;
    }

    .input-con {
      position: relative;
      padding: 20px 0;
    }

    input {
      border-radius: 30px;
      border: none;
      background: #ffffff;
      outline: none;
      padding: 14px 30px;
      width: 85%;
      font-size: 18px;

      &::placeholder {
        color: #929090;
        font-size: 15px;
      }
    }

    button {
      @include button2;
      background: #36B4FF;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      border-radius: 30px;
      padding: 13.5px 40px;
      position: absolute;
      right: -2px;
    }
  }

  .content {
    padding: 30px 60px;
  }
}


@media screen and (max-width: 1050px) {
  .top-container {

    .button {
      padding: 10px 25px;
    }

    .content {
      padding-left: 60px;

      .title {
        font-size: 32px;
        width: 400px;
      }

      .update {
        width: 400px;
      }
    }

    &__left {
      .mother {
        width: 450px;
        height: 410px;
      }

      .border-circle {
        width: 400px;
        height: 400px;
      }
    }
  }

  .about-container {
    padding: 120px 30px;

    &__content {
      padding: 0 50px;
    }
  }

  .services-container {
    padding: 100px 40px;

    .texts {
      .sub {
        padding: 0 15%;
      }
    }

    .boxes {
      .box {
        margin-right: 20px;
      }
    }
  }

  .location {
    padding-left: 30%;

    .find-box {
      button {
        padding: 13.9px 40px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .top-container {

    &__left {
      width: 100%;

      // .mother {
      //   display: none;
      // }

      .nav .nav-items {
        display: none;
      }


    }

    &__right {
      display: none;
    }
  }

  .about-container {
    flex-direction: column-reverse;
    padding: 100px 10px;
    justify-content: center;

    &__images {
      justify-content: center;
    }

    &__content {
      padding: 20px 170px;
    }
  }

  .services-container {
    padding: 50px 5%;

    .texts {
      .sub {
        padding: 0 2%;
      }
    }

    .boxes {
      flex-direction: column;

      .box {
        margin-right: 0;
        margin-bottom: 30px;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .location {
    padding-left: 20%;
  }
}


@media screen and (max-width: 820px) {
  .top-container {
    .content {
      padding-left: 30px;
    }

    &__left {
      .mother {
        width: 400px;
        height: 360px;
      }

      .border-circle {
        width: 350px;
        height: 350px;
      }
    }
  }

  .location {
    padding: 100px 5%;
  }
}

@media screen and (max-width: 750px) {
  .top-container {
    &__left {
      .mother {
        width: 360px;
        height: 320px;
      }
    }
  }

  .about-container {
    padding: 50px 10px;

    &__content {
      padding: 0 10px;
    }

    &__images {
      .img-1 {
        margin-right: 5%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .top-container {

    .content {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 10px;

      .inner {
        padding: 40px 5%;
        margin: auto;
      }

      .update {
        width: 100%;
      }

      .title,
      .sub {
        width: 100%;
      }
    }

    &__left {
      border-bottom-right-radius: 0;

      .nav {
        margin-bottom: 35px;
      }

      .mother {
        position: static;
        width: 90%;
        margin: auto;
        // height: unset;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      .fill-circle,
      .border-circle {
        display: none;
      }
    }
  }

  .services-container {
    .boxes {
      .box {
        .content {
          padding: 40px 25px;
        }
      }
    }
  }

  .location {
    .content {
      padding: 30px 30px;
    }

    .find-box {
      .title {
        font-size: 30px;
      }

      .sub {
        padding-right: 10px;
      }

      .input-con {
        text-align: center;
      }

      input {
        padding: 10px 20px;
        margin-bottom: 5px;
        box-sizing: border-box;
        width: 90%;
        // margin: auto;

        &::placeholder {
          font-size: 14px;
        }
      }

      button {
        width: 90%;
        position: static;
        padding: 10px 40px;
      }
    }
  }
}

@media screen and (max-width: 350px) {

  .services-container {
    padding: 25px 5%;
  }

  .about-container {
    &__images {
      flex-direction: column;
      align-items: center;

      .img-1 {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}