body {
  margin: 0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/src/assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/src/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Freight';
  src: url("/src/assets/fonts/FreightBigProBlack-Regular.ttf") format("truetype");
  font-weight: normal;
}